@model FleaMarket.FrontEnd.Models.ItemCreateViewModel
@{
    ViewData["Title"] = "List Item";
}

<h1>List Item</h1>

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Description" class="form-label"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="mb-3 form-check">
        <input asp-for="IsFree" class="form-check-input" />
        <label asp-for="IsFree" class="form-check-label">Give away for free</label>
    </div>
    <div class="mb-3">
        <label asp-for="Price" class="form-label"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="images" class="form-label">Photos</label>
        <input type="file" id="images" name="Images" multiple accept="image/*" capture="environment" class="form-control" />
        <div id="imagePreview" class="row mt-2"></div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
